<div class="container mt-5" *ngIf="auth.user$ | async as user">
  <div
    class="row align-items-center profile-header mb-5 text-center text-md-left"
  >
    <div class="col-md-2">
      <img
        [src]="user.picture"
        class="rounded-circle img-fluid profile-picture mb-3 mb-md-0"
        referrerpolicy="no-referrer"
      />
    </div>
    <div class="col-md">
      <app-user-profile></app-user-profile>
    </div>
  </div>
  <h3>Your order history: </h3>
  <app-user-metadata></app-user-metadata>
</div>
